Repository tajmahal226/deep-equity-research: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, echo 'Skipping prettier for now'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["echo 'Skipping prettier for now'"]
}

fix: update zip entry typing for parser
  src/utils/parser/officeParser.ts
Due: eslint --fix

feat: expand ai provider support
  .env.example
  next.config.ts
  src/app/api/ai/fireworks/[...slug]/proxy-handler.ts
  src/app/api/ai/fireworks/[...slug]/route.ts
  src/app/api/ai/moonshot/[...slug]/proxy-handler.ts
  src/app/api/ai/moonshot/[...slug]/route.ts
  src/app/api/utils.ts
  src/components/ResearchModes/ApiKeys.tsx
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useAiProvider.ts
  src/hooks/useModelList.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/cache-utils.ts
  src/utils/deep-research/provider.ts
  src/utils/model-metadata.ts
  src/utils/provider.ts
  src/utils/validation.ts
Due: eslint --fix

fix: type guard provider state
  src/hooks/useAiProvider.ts
Due: eslint --fix

fix: relax katex strict mode
  src/components/MagicDown/View.tsx
Due: eslint --fix

chore: harden dependencies and document audit
  docs/repository-audit.csv
  docs/repository-audit.json
  docs/repository-audit.md
  package.json
  pnpm-lock.yaml
Due: echo 'Skipping prettier for now'

Update docs/repository-audit.md
  docs/repository-audit.md
Due: echo 'Skipping prettier for now'

Update tests/utils/api.test.ts
  tests/utils/api.test.ts
Due: eslint --fix

Add Railway deployment configuration for long-running SSE support
  .railway/settings.env
  RAILWAY.md
  README.md
  railway.json
Due: echo 'Skipping prettier for now'

Fix: Remove stale package-lock.json and update Next.js for Railway deployment
  .gitignore
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: echo 'Skipping prettier for now'

chore: Clean up repo - remove stale files and consolidate documentation
  .gitignore
  1-year
  AGENTS.md
  CLAUDE.md
  DOCKER_DEPLOYMENT.md
  FIX_CACHE_ISSUES.md
  MODELS_FLEXIBILITY_GUIDE.md
  RECOMMENDED_MODEL_COMBINATIONS.md
  SYSTEM_REVIEW_REPORT.md
  VERCEL_DEPLOYMENT_CHECKLIST.md
  debug-response.js
  debug-temperature-flow.js
  integration-test.js
  mock-filter-function.js
  next
  test-all-working.js
  test-anthropic-models.js
  test-api-key-resolution.js
  test-complete-matrix.js
  test-deep-research-tools.js
  test-final-comprehensive.js
  test-final-gpt5-fix.js
  test-gpt5-chat-fix.js
  test-gpt5-temperature-fix.js
  test-latest-openai.js
  test-modules-fixed.js
  test-new-models.js
  test-openai-models.js
  test-parameter-filtering.js
  test-provider-fix.js
  test-reasoning-effort.js
  test-research.js
  test-temperature-fix.js
  test-temperature-toggle.js
Due: eslint --fix, echo 'Skipping prettier for now'

security: fix multiple security vulnerabilities and memory leaks
  package.json
  pnpm-lock.yaml
  src/app/api/company-research/route.ts
  src/app/api/middleware/rate-limit.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/model.ts
  src/utils/request-manager.ts
Due: eslint --fix, echo 'Skipping prettier for now'

refactor: improve code quality with constants and Ollama support
  src/store/setting.ts
  src/utils/timeout-config.ts
Due: eslint --fix

refactor: eliminate middleware duplication with provider handler
  src/middleware.ts
  src/middleware/provider-handler.ts
  src/store/setting.ts
  src/utils/request-manager.ts
Due: eslint --fix

fix: restore Ollama provider authentication
  src/middleware/provider-handler.ts
Due: eslint --fix

feat: update all providers to 2026-latest models and add missing provider support
  .github/workflows/npm-gulp.yml
  .github/workflows/npm-publish-github-packages.yml
  .node-version
  AGENTS.md
  Dockerfile
  GEMINI.md
  bo_johnson_research_task.md
  docs/PROVIDER_COMPATIBILITY.md
  fix-plan.md
  package.json
  src/app/api/ai/ollama/[...slug]/route.ts
  src/app/api/ai/openrouter/[...slug]/route.ts
  src/app/page.tsx
  src/components/Internal/OnboardingBanner.tsx
  src/components/Research/Topic.tsx
  src/components/ResearchModes/CompanyDeepDive.tsx
  src/constants/urls.ts
  src/hooks/useAiProvider.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/api/xai.ts
  src/utils/company-deep-research/index.ts
  src/utils/deep-research/provider.ts
  src/utils/model-metadata.ts
  src/utils/openai-models.ts
  src/utils/provider.ts
  src/utils/xai-models.ts
  src/utils/xai-provider.ts
  tests/store/setting.test.ts
  tests/utils/openai-models.test.ts
  tests/utils/provider.test.ts
Due: eslint --fix, echo 'Skipping prettier for now'

fix(security): resolve 4 vulnerabilities
  package.json
  pnpm-lock.yaml
Due: echo 'Skipping prettier for now'

chore: update tsconfig.json for Next.js 16 compatibility
  tsconfig.json
Due: echo 'Skipping prettier for now'

fix: create custom OpenAI provider to support GPT-5.2 models
  src/utils/deep-research/provider.ts
  src/utils/openai-provider.ts
Due: eslint --fix

fix: update custom providers to use LanguageModelV2 spec
  src/utils/openai-provider.ts
  src/utils/xai-provider.ts
Due: eslint --fix

chore: force Railway rebuild with cache clear
  README.md
Due: echo 'Skipping prettier for now'

fix: use @ai-sdk/openai with compatibility mode for OpenAI and xAI
  src/utils/deep-research/provider.ts
Due: eslint --fix

fix: downgrade ai to v4 for LanguageModelV1 compatibility
  package.json
  pnpm-lock.yaml
  src/hooks/useDeepResearch.ts
  src/hooks/useKnowledge.ts
  src/utils/api/openai.ts
  src/utils/api/xai.ts
  src/utils/deep-research/index.ts
Due: eslint --fix, echo 'Skipping prettier for now'

chore: force Railway redeploy with cache bust
  README.md
Due: echo 'Skipping prettier for now'

fix: map GPT-5.2 models to GPT-4o for chat compatibility
  src/store/setting.ts
  src/utils/openai-models.ts
  src/utils/provider.ts
Due: eslint --fix

feat: implement OpenAI Responses API for GPT-5.2 models
  src/store/setting.ts
  src/utils/deep-research/provider.ts
  src/utils/openai-models.ts
  src/utils/openai-responses-provider.ts
  src/utils/provider.ts
Due: eslint --fix

feat: Add API proxy routes for multiple AI providers, including a generic proxy handler, provider utilities, and unit tests.
  AGENTS.md
  PLANS.md
  plans/EXECPLAN_TEMPLATE.md
  plans/README.md
  plans/api-llm-compat-audit-report.md
  plans/api-llm-compat-audit.md
  src/app/api/ai/create-proxy-handler.ts
  src/app/api/ai/fireworks/[...slug]/route.ts
  src/app/api/ai/groq/[...slug]/route.ts
  src/app/api/ai/moonshot/[...slug]/route.ts
  src/app/api/ai/perplexity/[...slug]/route.ts
  src/app/api/ai/together/[...slug]/route.ts
  src/app/api/ai/xai/[...slug]/route.ts
  src/app/api/health-check/route.ts
  src/utils/deep-research/provider.ts
  src/utils/provider.ts
  test_output.txt
  test_output_node.txt
  test_output_node_v2.txt
  tests/unit/create-proxy-handler.test.ts
  tests/unit/xai-integration.test.ts
Due: eslint --fix, echo 'Skipping prettier for now'

feat: Add a generic AI API proxy handler and routes for Cohere, DeepSeek, Google, and Anthropic, with accompanying tests and `node` type definitions.
  src/app/api/ai/create-proxy-handler.ts
  tests/unit/create-proxy-handler.test.ts
Due: eslint --fix

go ahed
  src/app/api/ai/anthropic/[...slug]/route.ts
  src/app/api/ai/cohere/[...slug]/route.ts
  src/app/api/ai/deepseek/[...slug]/proxy-handler.ts
  src/app/api/ai/deepseek/[...slug]/route.ts
  src/app/api/ai/google/[...slug]/proxy-handler.ts
  src/app/api/ai/google/[...slug]/route.ts
  tests/unit/create-proxy-handler.test.ts
  tsconfig.json
Due: eslint --fix, echo 'Skipping prettier for now'

feat: Introduce a generic AI API proxy handler and implement it for Mistral, Ollama, OpenAI, and OpenRouter.
  .vscode/settings.json
  src/app/api/ai/create-proxy-handler.ts
  src/app/api/ai/mistral/[...slug]/route.ts
  src/app/api/ai/ollama/[...slug]/route.ts
  src/app/api/ai/openai/[...slug]/route.ts
  src/app/api/ai/openrouter/[...slug]/route.ts
  tests/unit/create-proxy-handler.test.ts
Due: eslint --fix, echo 'Skipping prettier for now'

fix: Resolve silent failures in AI API proxy calls
  src/app/api/ai/helpers.ts
  src/utils/xai-provider.ts
  tests/unit/create-proxy-handler.test.ts
Due: eslint --fix

Add Claude settings and guidance doc
  .claude/settings.local.json
  CLAUDE.md
Due: echo 'Skipping prettier for now'

Update settings.local.json
  .claude/settings.local.json
Due: echo 'Skipping prettier for now'
