Repository tajmahal226/deep-equity-research: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, echo 'Skipping prettier for now'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["echo 'Skipping prettier for now'"]
}

Add improvements summary documentation
  IMPROVEMENTS_SUMMARY.md
Due: echo 'Skipping prettier for now'

Complete bundle analyzer setup and documentation
  docs/BUNDLE_ANALYSIS.md
  next.config.cjs
Due: echo 'Skipping prettier for now'

Add AI SDK v5 types and complete improvements
  IMPROVEMENTS_SUMMARY.md
  src/types/README.md
  src/types/ai-sdk-v5.d.ts
Due: eslint --fix, echo 'Skipping prettier for now'

Fix OpenAI API store parameter error
  src/utils/api/openai.ts
Due: eslint --fix

Add type-check script to package.json
  package.json
Due: echo 'Skipping prettier for now'

Migrate to ESLint CLI and fix linting issues
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  tests/integration/free-form-deep-research.test.ts
  tests/middleware/authentication.test.ts
  tests/utils/ai-providers.test.ts
Due: eslint --fix, echo 'Skipping prettier for now'

Security improvements: Add URL validation, fix bearer token parsing, add security headers, remove sensitive logging
  next.config.ts
  src/app/api/crawler/route.ts
  src/middleware.ts
Due: eslint --fix

Security: Encrypt API keys in localStorage
  package-lock.json
  package.json
  src/store/setting.ts
  src/utils/encrypted-storage.ts
Due: eslint --fix, echo 'Skipping prettier for now'

Fix Vercel deployment freeze caused by misconfigured build
  next.config.cjs
  src/store/setting.ts
  src/utils/encrypted-storage.ts
Due: eslint --fix

Fix unsupported provider error for openrouter and other providers
  src/hooks/useAiProvider.ts
Due: eslint --fix

Fix AI_UnsupportedModelVersionError for undefined provider/model
  src/app/api/bulk-company-research/model-config.ts
  src/app/api/company-research/route.ts
  src/components/ResearchModes/ApiKeys.tsx
  src/hooks/useAiProvider.ts
Due: eslint --fix

Add model fallbacks to prevent empty model strings
  src/hooks/useAiProvider.ts
Due: eslint --fix

Rewrite createAIProvider to use official AI SDK v5 providers
  src/utils/deep-research/provider.ts
Due: eslint --fix

Fix type compatibility for AI SDK v5
  src/utils/deep-research/provider.ts
Due: eslint --fix

Update package-lock.json after dependency install
  package-lock.json
Due: echo 'Skipping prettier for now'

Update tests for AI SDK v5 provider rewrite
  tests/api/bulk-company-research.test.ts
  tests/utils/ai-providers.test.ts
Due: eslint --fix

Fix critical Next.js security vulnerability CVE-2025-66478
  package.json
  pnpm-lock.yaml
Due: echo 'Skipping prettier for now'

chore: add review follow-up tasks
  docs/codebase-review-tasks.md
Due: echo 'Skipping prettier for now'

fix: split long paragraphs safely
  src/utils/text.ts
  tests/utils/text.test.ts
Due: eslint --fix

chore: align node engine to 22.x
  .node-version
  CLAUDE.md
  package.json
Due: echo 'Skipping prettier for now'

fix: filter response model settings
  src/utils/company-deep-research/index.ts
  src/utils/deep-research/index.ts
  src/utils/deep-research/provider.ts
Due: eslint --fix

feat: add gpt-5.2 metadata and token limits
  src/constants/token-limits.ts
  src/utils/model-metadata.ts
  tests/token-limits.test.ts
Due: eslint --fix

feat: add gemini 3 metadata and limits
  src/constants/token-limits.ts
  src/utils/model-metadata.ts
  src/utils/model.ts
  tests/model-metadata.test.ts
  tests/token-limits.test.ts
Due: eslint --fix

test: remove node-fetch dependency from office parser spec
  src/constants/token-limits.ts
  src/utils/model-metadata.ts
  src/utils/model.ts
  tests/model-metadata.test.ts
  tests/token-limits.test.ts
  tests/utils/office-parser.test.ts
Due: eslint --fix

fix: use strict openai compatibility
  src/utils/api/openai.ts
  src/utils/deep-research/provider.ts
Due: eslint --fix

fix: map invalid OpenAI model names to valid models
  src/app/api/ai/openai/[...slug]/proxy-handler.ts
Due: eslint --fix

fix: preserve headers when proxying ai responses
  src/app/api/ai/anthropic/[...slug]/route.ts
  src/app/api/ai/cohere/[...slug]/route.ts
  src/app/api/ai/deepseek/[...slug]/proxy-handler.ts
  src/app/api/ai/google/[...slug]/proxy-handler.ts
  src/app/api/ai/groq/[...slug]/route.ts
  src/app/api/ai/helpers.ts
  src/app/api/ai/mistral/[...slug]/route.ts
  src/app/api/ai/openai/[...slug]/proxy-handler.ts
  src/app/api/ai/perplexity/[...slug]/route.ts
  src/app/api/ai/together/[...slug]/route.ts
  src/app/api/ai/xai/[...slug]/route.ts
Due: eslint --fix

fix: route OpenAI responses models to proper endpoint
  src/app/api/ai/openai/[...slug]/proxy-handler.ts
  src/utils/deep-research/provider.ts
  src/utils/openai-models.ts
  tests/utils/openai-models.test.ts
Due: eslint --fix

fix: handle aborts in company deep dive
  src/components/ResearchModes/CompanyDeepDive.tsx
Due: eslint --fix

fix: improve company deep dive error handling
  src/components/ResearchModes/CompanyDeepDive.tsx
Due: eslint --fix

fix: improve SSE parsing for company research
  src/components/ResearchModes/CompanyDeepDive.tsx
Due: eslint --fix

fix: cap max tokens for company research models
  src/utils/company-deep-research/index.ts
  test-temperature-fix.js
  tests/utils/company-deep-research.test.ts
Due: eslint --fix

fix: correct spelling in company dive prompt
  src/constants/companyDivePrompts.ts
Due: eslint --fix

fix: enforce sequential request ordering
  src/utils/request-manager.ts
  tests/utils/request-manager.test.ts
Due: eslint --fix

fix: queue sequential requests
  src/utils/request-manager.ts
  tests/utils/request-manager.test.ts
Due: eslint --fix

docs: update model filtering verification steps
  docs/model-filtering-summary.md
Due: echo 'Skipping prettier for now'

Update src/constants/companyDivePrompts.ts
  src/constants/companyDivePrompts.ts
Due: eslint --fix

Update src/utils/request-manager.ts
  src/utils/request-manager.ts
Due: eslint --fix

test: expose active sequence for assertions
  src/utils/request-manager.ts
  tests/utils/request-manager.test.ts
Due: eslint --fix
